

ProyectoQR-FrontendWeb/webqr/node_modules
ProyectoQR-FrontendWeb/webqr/dist
ProyectoQR-FrontendWeb/webqr/dist-ssr
ProyectoQR-FrontendWeb/webqr/.env
ProyectoQR-Frontend/Dockerfile.frontend.dev
ProyectoQR-Frontend/node_modules
ProyectoQR-Frontend/dist
ProyectoQR-Frontend/dist-ssr
ProyectoQR-Frontend/.env
ProyectoQR-Frontend/.env-cmdrc.json



Deploy/terraform/modules
Deploy/.terraform.lock.hcl
Deploy/pmikey
Deploy/pmikey.pub
Deploy/terraform.tfstate
Deploy/terraform.tfstate.backup
Deploy/terraform.exe
Deploy/terraform.tfvars
Deploy/runme.sh



Tools
ProyectoQR-Backend/node_modules
ProyectoQR-Backend/env.yaml
ProyectoQR-Backend/nodemon.json
ProyectoQR-Backend/mock
ProyectoQR-Backend/dist
ProyectoQR-Backend/Dockerfile.backend.dev
ProyectoQR-Backend/certs
ProyectoQR-Backend/src/resources/mailing/adjunto.pdf
ProyectoQR-Backend/src/resources/mailing/programa.pdf
ProyectoQR-Backend/src/resources/mailing/template.html


Docker-compose.dev.yml